@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url(./footer.css);
@import url(./header.css);

*,
*::before,
*::after {

    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto';
}

body._lock {
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input::-webkit-input-placeholder {
    color: #C4C4C4;
}

::-webkit-input-placeholder {
    color: #C4C4C4;
}

:-moz-placeholder {
    color: #C4C4C4;
}

::-moz-placeholder {
    color: #C4C4C4;
}

:-ms-input-placeholder {
    color: #C4C4C4;
}

/*------------------  Block --------------------------------------*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.content {
    flex: 1 0 auto;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}


.title {
    color: #3C7BFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 30px 0px;
}

.block {
    margin-top: 170px;
}

.block__text {
    color: #1D1D1B;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.block__img {
    width: 100%;
    margin-bottom: 400px;
}


/*------------------  Block --------------------------------------*/


/*-------------------------Адаптив-------------------------------------*/

@media screen and (max-width:1180px) {
    .container {
        max-width: 850px;
        margin: 0 auto;

    }
}

@media screen and (max-width:850px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }

}

@media screen and (max-width:640px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
    }

    .title {
        color: #3C7BFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        margin: 20px 0px;
        padding: 0px 10px;
    }

    .block__text {
        color: #1D1D1B;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 30px;
        padding: 0px 10px;
    }

    .block__img {
        padding: 0px 10px;
    }
}