@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*,
*::before,
*::after {

    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Roboto';
}

body._lock {
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.footer {
    margin-top: 50px;
    background-color: #3C7BFF;
    height: 323px;
    width: 100%;
    flex: 0 0 auto;

    &__container {
        max-width: 1220px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        gap: 110px;
        align-items: baseline;
        padding: 40px 15px 0px 15px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        margin: 10px 0px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__link a {
        color: #fff;
    }


    &__social {
        display: flex;
        flex-direction: column;
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        padding: 0px 15px;
    }

    &__email {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__fond {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
}




.social {
    &__row {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }

    &__title {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

    }

    &__link {}
}


/*------------------ Adaptiv --------------------------------------*/

@media screen and (max-width:1180px) {
    .footer__container {
        max-width: 850px;
        margin: 0 auto;

    }

    .menu>li {
        margin: 10px 0px;
    }
}

@media screen and (max-width:850px) {
    .footer__container {
        max-width: 640px;
        margin: 0 auto;
    }
}

@media screen and (max-width:640px) {
    .footer__container {
        max-width: 540px;
        margin: 0 auto;

    }
}

@media screen and (max-width:540px) {

    .footer__container {
        max-width: none;
        margin: 0;

    }

    .footer {
        height: 400px;
    }

    .footer__copyright {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__email {
        margin-bottom: 10px;
    }

    .footer__row {
        justify-content: space-between;
    }
}